# ignore emacs backups
emacs/.emacs.d/backups/*

# ignore emacs runtime data
emacs/.emacs.d/.smex-items
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/eshell/*
emacs/.emacs.d/places

# ignore compiled source
emacs/**/*.elc
