# ignore emacs backups and auto-save-list
emacs/.emacs.d/backups/*
emacs/.emacs.d/auto-save-list/*

# ignore emacs runtime data
emacs/.emacs.d/.smex-items
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/eshell/*
emacs/.emacs.d/places
emacs/.emacs.d/url
emacs/.emacs.d/elpa/archives

# ignore compiled source
*.elc
